.subheader_section {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    max-width: 550px;
    width: 100%;
    margin: 1rem auto;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0rem 1.5rem 0rem;
    border-bottom: 1px solid gray;
}

.subheader_section h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.subheader_section button {
    padding: 0.5rem;
    color: white;
    background-color: skyblue;
    border: none;
    border-radius: 4px; 
}

.form_card {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 550px;
    width: 100%;
    margin: 0rem auto;
    background-color: var(--card-bg-color);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0rem 0rem;
}

.form_input label {
    display: block;
    margin: 0.5rem 0rem;
}

.form_input input {
    padding: 0.3rem;
    border-radius: 8px;
    width: 550px;
}

.form_card button {
    padding: 0.5rem;
    color: white;
    background-color: skyblue;
    border: none;
    border-radius: 4px; 
    margin-top: 1rem;
}
